# Configuración del contenedor de GLPI
GLPI_PORT=8080

# Conexión Remota a la DB Central (VM .210)
DB_HOST=192.168.1.210
DB_PORT=3306
DB_NAME=glpi_db
DB_USER=glpi_user
DB_PASSWORD=TuContraseñaSeguraAqui*
